.tinderCards__card{
  position: relative;
  width: 600px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.tinderCards__card > h3{
  position: absolute;
  bottom: 10;
  color: white;
}

.tinderCards__cardContainer{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.tinderCards__swipe{
  position: absolute;
}